<div class="nav-left">
	<ul class="nav nav-pills nav-stacked">
		<li><%= link_to "Dashboard", root_path %></li>
		<li><%= link_to "Employees", users_path %></li>
		<li><%= link_to "Clients", clients_path %></li>
		<li><%= link_to "Vendors", vendors_path %></li>
		<li><%= link_to "Raw Material", raw_materials_path %></li>
		<li><%= link_to "Raw Material Categories", raw_material_categories_path %></li>
		<li><%= link_to "Equipments", equipments_path %></li>
		<li><%= link_to "Equipment Categories", equipment_categories_path %></li>
		<li><%= link_to "Products", products_path %></li>
		<li><%= link_to "Orders", orders_path %></li>		
		<li><a href="">item5</a></li>
		<li><a href="">item6</a></li>
		<li><a href="">item7</a></li>
		<% if user_signed_in? %>
			<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
		<% else %>
			<li><% link_to "Sign In", new_user_session_path %></li>
		<% end -%>
	</ul>
</div>